<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul class="links">
          <li>
            <a href="/catalog"> Home </a>
          </li>
          <li>
            <a href="/catalog/items"> All Items </a>
          </li>
          <li>
            <a href="/catalog/categories"> All Categories </a>
            <ul class="inner-links">
              <% all_categories.forEach(category => { %>
                <li>
                  <a href="<%= category.url %>"> <%= category.name %> </a>
                </li>
              <% }); %>
            </ul>
          </li>
        </ul>
      </nav> 
      
      <nav>
        <ul class="links">
          <li>
            <a href="/catalog/category/create">Create new Category</a>
          </li>
          <li>
            <a href="/catalog/item/create">Create new Item</a>
          </li>
        </ul>
      </nav>
      
      <a class="gh-link" href="https://github.com/OscarSoanes">Built by Oscar Soanes</a>
    </header>
    
    <main>
      <h1> <%= title %></h1>
      <p> Name: <%= category.name %> </p>

      <% if (items.length) { %>
        <p> Please delete the following items before attempting to delete this category.</p>

        <p class="item_category_heading">Items in Category:</p>
        <div class="list_of_items">
          <% items.forEach(item => { %>
            <a href="<%= item.url %>">
              <p> Name: <%= item.name %> </p>
              <p> Quantity: <%= item.number_in_stock %></p>
            </a>
          <% }) %>
        </div>
      <% } else { %>
        <p class="delete-confirm"> Do you really want to delete this category? </p>

        <form action="" method="post">
          <input type="hidden" name="categoryid" required="true" value=" <%= category.id %>">
          
          <button type="submit" class="primary-button">Submit</button>
        </form>
      <% } %>
    </main>
  </body>
</html>